@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
}

.title {
  background-color: #00D9C0;
  padding: 0.2em 0.5em;
}

.card {
  border-color: white;
}

.slanted-div {
  position: relative;
  padding: 1em 0;
  background: #00D9C0;
  overflow: visible;
  z-index: 1;
}

.slanted-div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

.eliminated {
  opacity: 0.3;
}

.key {
  border-left: 3px solid rgb(252, 126, 20);
  background-color: rgb(252, 126, 20, 0.1);
  border-radius: 0 4px 4px 0;
}
