@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  background-color: #237CFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--bs-gray-700);
}

.title {
  font-size: 20px;
}

.text-grey {
  color: #EBF2FA;
}

.text-dark-grey {
  color: var(--bs-gray-500);
}

.text-small {
  font-size: 0.8em;
}

/* table {
  background-color: white;
  border-radius: 1rem;
}

table td, table th {
  padding: 1rem 2rem !important;
} */

thead tr, thead th {
  background-color: inherit;
  border: none;
}

tr {
  background-color: white;
  border: 0.7em solid #F8F9FB;
}

#csvTablePrizes tr {
  background-color: inherit;
  border-bottom: 1px solid var(--bs-gray-500);
}

table p {
  margin-bottom: 0;
}

aside a {
  color: #EBF2FA;
}

aside a:hover {
  color: #EBF2FA;
  text-decoration: none;
}

.main-content {
  background-color: #F8F9FB;
  border-radius: 0.7rem;
}

.eliminated {
  opacity: 0.2;
}

.prize {
  color: green;
  margin-left: 0.5em;
}

.help-text p {
  color: var(--bs-gray-500);
  font-size: 0.8em;
}
