@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Permanent+Marker&display=swap');

:root {
  --border: #ced4da;
  --bg: #f8f9fa;
}

html, body {
  font-family: "Mona Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--bs-gray-700);
}

/* nav {
  border-bottom: 1px solid var(--border);
} */

#breadcrumb {
  border-bottom: none;
}

.navbar-brand {
  color: #363635;
  font-family: "Permanent Marker", cursive;
}

.text-grey {
  color: #EBF2FA;
}

.text-dark-grey {
  color: var(--bs-gray-500);
}

.text-small {
  font-size: 0.8em;
}

thead tr, thead th {
  background-color: inherit;
  border: none;
}

tr {
  background-color: white;
  border: 0em solid white;
}

tr {
  background-color: inherit;
  border-bottom: 1px solid var(--border);
}

table p {
  margin-bottom: 0;
}

.eliminated {
  opacity: 0.2;
}

.prize {
  color: green;
  margin-left: 0.5em;
}

.help-text {
  color: var(--bs-gray-500);
}

.no-list-style {
  list-style-type: none;
  padding-left: 0;
}

.no-list-style li {
  margin-bottom: 0.5em;
}
