<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ce84024436.js" crossorigin="anonymous"></script>
  <script src="/js/draw.js"></script>
  <script src="/js/prizes.js"></script>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="icon" href="/assets/images/favicon.png" sizes="any">
  <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">
</head>
